.fact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.4;
  border: 2px solid var(--color-black);
  padding: 16px;
  margin-bottom: 8px;

  @media (max-width: 540px) {
    flex-direction: column;
    align-items: start;
  }

  a,
  span {
    margin-left: 8px;
  }
}

.tag {
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  background-color: var(--color-black);
  padding: 4px 6px;
  color: var(--color-white);
  line-height: 1;
  cursor: pointer;
}

.votes {
  display: flex;
  gap: 8px;
  margin-left: 16px;

  @media (max-width: 540px) {
    margin-left: auto;
    margin-top: 20px;
  }
}
