:root {
  --font-display: 'Rampart One', cursive;
  --font-main: 'Cairo', sans-serif;
  --color-black: #111;
  --color-gray: #444;
  --color-white: #fefefe;
  --color-orange: rgb(255, 117, 67);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:focus-visible,
input:focus-visible,
select:focus-visible,
button:focus-visible {
  outline: 2px solid var(--color-orange);
  outline-offset: 2px;
}

::-moz-selection {
  background: var(--color-orange);
}

::selection {
  background: var(--color-orange);
}

a {
  color: var(--color-orange);
}

html,
input,
select,
option,
button {
  font-family: var(--font-main);
}

body {
  padding: 16px;
}

button {
  font-weight: 700;
  background-color: transparent;
  border: 2px solid var(--color-black);
  color: var(--color-black);
  padding: 4px 8px;
  cursor: pointer;
}

button:hover,
button.selected {
  background-color: var(--color-black);
  color: var(--color-white);
}
button:active {
  background-color: var(--color-gray);
  border: 2px solid var(--color-gray);
  color: var(--color-white);
}

h1 {
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  font-family: var(--font-display);
  margin-bottom: 24px;
}

ul {
  list-style: none;
}

.btn {
  background-color: var(--color-orange);
  color: var(--color-white);

  &.post {
    padding: 0 16px;
  }
}

/*Elements*/

.share {
  margin-bottom: 8px;
}

form {
  display: flex;
  gap: 8px;
  max-width: 800px;
  align-items: stretch;
  transition: all 0.2s;

  input {
    padding: 4px;
  }
}

@media (max-width: 675px) {
  form.visible {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
}

.factInput {
  flex: 1;
}

.hidden {
  display: none;
}

main {
  display: flex;
}

aside {
  margin-right: 16px;
}

@media (max-width: 400px) {
  main {
    flex-direction: column;
  }

  aside {
    margin-right: 0;
  }
}

.facts {
  flex: 1;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;

  button {
    text-transform: capitalize;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .categories {
    display: none;
  }
}

.fact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.4;
  border: 2px solid var(--color-black);
  padding: 16px;
  margin-bottom: 8px;

  a,
  span {
    margin-left: 8px;
  }
}

@media (max-width: 540px) {
  .fact {
    flex-direction: column;
    align-items: start;
  }
}

.tag {
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  background-color: var(--color-black);
  padding: 4px 6px;
  color: var(--color-white);
  line-height: 1;
  cursor: pointer;
}

.votes {
  display: flex;
  gap: 8px;
  margin-left: 16px;
}

@media (max-width: 540px) {
  .votes {
    margin-left: auto;
    margin-top: 20px;
  }
}
